#pomodoroTimer {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  width: 70px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  border-radius: 5px;
}

#pomodoroTimer span:not(#pomodoroTimerSpacer) {
  display: inline-block;
  width: 25px;
}

#pomodoroTimerSpacer {
  padding: 0 3px;
  line-height: 1.15;
}
