[contenteditable] {
  outline: 0px solid transparent;
}

body {
  box-sizing: border-box;
  color: #4b6587;
  font-family: "Proxima Nova Soft";
  transition: 1s background-color ease-in-out;
}

#mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.cardHolder {
  display: flex;
  flex-wrap: wrap;

  background-color: #f0e5cfcc;
  border-radius: 2px;
  padding: 3px 7px;
  margin: 1px;
  width: 700px;
  align-items: center;
  transition: 0.3s background-color ease-in-out;
}
.cardHolder:hover {
  background-color: #f0e5cf;
}

.card {
  width: 100%;
  margin-left: 5px;
  flex: 1;
}

.svgHolder {
  padding: 2px;
  border-radius: 3px;
  flex: 0;
}

.svgHolder svg,
.svgHolder {
  transition: 0.1s;
}

.svgHolder:hover {
  background-color: #c8c6c691;
  cursor: pointer;
}

.svgHolder svg {
  display: block;
  transform: rotate(-90deg);
}

.svgHolder:active {
  background-color: #c8c6c6;
}

button {
  padding: 7px 15px;
  font-family: "Proxima Nova Soft";
  font-weight: bold;
  background-color: #8336cba1;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  margin-left: 50px; /* visibility */
  cursor: pointer;
}

button:hover {
  background-color: #8336cbc4;
}

button:active {
  background-color: #8236cb;
}

.reviewMode {
  background-color: #b5deff;
}

.highlightCard {
  background-color: aqua;
}

.cardPointer {
  width: 4px;
  height: 26px;
  background-color: red;
  position: absolute;
  margin-left: -14px;
  margin-top: 0px;
  transition: 0.3s ease-out;
  border-radius: 1px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.answerHolder {
  height: 20px;
  width: 100%;
  display: none; /* switches to flex on click */
  align-items: center;
}

.answerArrow {
  margin-left: 24px;
}

.answerHolder span {
  margin-left: 5px;
}
