[contenteditable] {
  outline: 0px solid transparent;
}

body {
}

#mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.card {
  background-color: gainsboro;
  padding: 3px 10px;
  margin: 1px;
  width: 500px;
}
