.placeholder-title {
  background-color: rgb(194, 180, 209);
  display: flex;
  justify-content: center;
  width: 100%;
}

main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

input {
  border: 0.7px solid gray;
  border-radius: 3px;
  margin-right: 10px;
}
.createDeck,
.createModule {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}

button[type="submit"] {
  display: block;
  background-color: rgb(194, 180, 209);
}

p {
  text-align: center;
}

.deckOverview {
  border: 1px solid rgba(141, 141, 141, 0.589);
  border-radius: 2px;
  width: 600px;
  height: 30px;
  line-height: 30px;

  margin-bottom: 10px;
  padding: 0 20px;
  box-sizing: border-box;
  transition: background-color 2s, color 0.1s;
  cursor: pointer;
}

.deckOverview:hover,
.moduleOverview:hover {
  background-color: rgb(0, 110, 255);
  color: white;
}

.date {
  float: right;
}

a {
  text-decoration: none;
  color: violet;
}

.listModules {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
}

.listModules > p {
  flex: 0 0 100%;
}

.moduleOverview {
  border: 1px solid rgba(141, 141, 141, 0.589);
  border-radius: 5px;
  width: 300px;
  height: 150px;
  line-height: 30px;

  margin-bottom: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  transition: background-color 2s, color 0.1s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  font-size: 28px;
  font-weight: 900;
}
